.helloWorld {
  background-color: "[theme:themePrimary, default:#0078d4]";
  color: "[theme:white, default:#ffffff]";
  text-align: center;
  padding: 0.5rem;
}

.HelloWorld {
  .cell {
    display: inline-block;
  }
  .full {
    background-color: #e5e5e5;
    width: 100px;
  }
}